In [13]:
import time
import datetime
import pandas as pd

In [6]:
print(time.time())

1622625675.022573

In [9]:
print(datetime.datetime.now())

2021-06-02 17:22:11.453318

In [10]:
print(datetime.datetime.now().year)

2021

In [11]:
print(datetime.datetime.now().month)

6

In [12]:
print(datetime.datetime.now().day)

2

In [24]:
df =pd.read_csv('start.txt')

In [28]:
df.sample(3)

      sentences  word_cnt  is_hello
8  hello hadoop         2         1
0   hello world         2         1
4   hello flink         2         1

In [26]:
df['word_cnt'] = df['sentences'].apply(lambda x : len(str(x).split(' ')))
df['is_hello'] = df['sentences'].apply(lambda x : 1 if 'hello' in x else 0)

In [27]:
df

           sentences  word_cnt  is_hello
0        hello world         2         1
1      world is nice         3         0
2       hello python         2         1
3     what is python         3         0
4        hello flink         2         1
5   flink is perfect         3         0
6         hello java         2         1
7      java is great         3         0
8       hello hadoop         2         1
9     hadoop is fool         3         0
10       hello spark         2         1
11     spark is slow         3         0